# This workflow will build a Java project with Maven, and cache/jpaore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build persistence

on:
  push:
    paths:
      - "persistence/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  persistence:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'zulu'
        cache: maven
    - name: Build with Maven
      run: |
        cd persistence
        mvn -B -q clean verify -Parq-glassfish-managed
    - uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: server-log
        path: persistence/target/glassfish*/glassfish/domains/domain1/logs/server.log
              
